In [2]:
import pandas as pd

In [6]:
yearly = pd.read_csv('datasets/yearly_deaths_by_clinic.csv')

In [7]:
yearly.head()

   year  births  deaths    clinic
0  1841    3036     237  clinic 1
1  1842    3287     518  clinic 1
2  1843    3060     274  clinic 1
3  1844    3157     260  clinic 1
4  1845    3492     241  clinic 1

In [8]:
yearly.describe()

              year       births      deaths
count    12.000000    12.000000   12.000000
mean   1843.500000  3152.750000  223.333333
std       1.783765   449.078476  145.383089
min    1841.000000  2442.000000   66.000000
25%    1842.000000  2901.750000  100.250000
50%    1843.500000  3108.500000  219.500000
75%    1845.000000  3338.250000  263.500000
max    1846.000000  4010.000000  518.000000

# TASK 2
Calculate the yearly proportion of deaths.

In [9]:
yearly['proportion_deaths']=yearly['deaths']/yearly['births']
yearly.head()

   year  births  deaths    clinic  proportion_deaths
0  1841    3036     237  clinic 1           0.078063
1  1842    3287     518  clinic 1           0.157591
2  1843    3060     274  clinic 1           0.089542
3  1844    3157     260  clinic 1           0.082357
4  1845    3492     241  clinic 1           0.069015

In [14]:
yearly1 = pd.DataFrame(yearly[yearly.clinic=='clinic 1'])
yearly2 = pd.DataFrame(yearly[yearly.clinic=='clinic 2'])

In [15]:
yearly1.head()

   year  births  deaths    clinic  proportion_deaths
0  1841    3036     237  clinic 1           0.078063
1  1842    3287     518  clinic 1           0.157591
2  1843    3060     274  clinic 1           0.089542
3  1844    3157     260  clinic 1           0.082357
4  1845    3492     241  clinic 1           0.069015